<div class="card is-hidden" id="card">
  <%# トップ部分 %>
  <div class="card-top">
    <div class="top-left">
      <div class="card-title">
        <h4>ライブキッズ<br>プロフィールちょう</h4>
      </div>
      <div class="name-area">
        <h4>name</h4>
        <p><%= current_user.name %></p>
        <h4>X id</h4>
        <p><%= current_user.x_id %></p>
      </div>
    </div>
    <div class="top-right">
      <div>
        <div class="image-area">
          <%= image_tag current_user.image, class:"cat-image"  %>
        </div>
      </div>
    </div>
  </div>
  <%# トップ部分 %>

  <%# メイン部分 %>
  <div class="card-main">
    <p>わたしは<span><%= current_user.birth %></span>生まれのライブキッズだよ！
    友達からは<span><%= current_user.nickname %></span>ってよばれることが多いよ♪
    すきな食べ物は<span><%= current_user.favorite_food %></span>で、
    きらいな食べ物は<span><%= current_user.hated_food %></span>！
    ライブの日以外は<span><%= current_user.holiday %></span>をしている事が多くて、
    趣味は<span><%= current_user.hobby %></span>だよ！
    音楽を好きになったきっかけのバンドは<span><%= current_user.first_band %></span>で、
    初めて行ったライブは<span><%= current_user.first_live %></span>だよ！よろしくね♪</p>
  </div>
  <%# メイン部分 %>

  <%# ボトム部分 %>
  <div class="card-bottom">
    <div class="bottom-left">
      <div>
        <div class="bottom-text">
          <h4>\ 今日のライブ /</h4>
          <div class="live-area">
            <p><%= @latest_card.live %></p>
          </div>
        </div>
        <div class="hand-area">
          <%= image_tag "hand.png", class:"hand-image"%>
        </div>
      </div>
    </div>
    <div class="bottom-right">
      <div class="p-1">1</div>
      <div class="p-2">2</div>
      <div class="p-3">3</div>
      <h5>推しバンドランキング！</h4>
      <div class="rank-area">
        <div class="band-name">
          <p><%= @latest_card.rank1 %></p>
        </div>
        <div class="band-name">
          <p><%= @latest_card.rank2 %></p>
        </div>
        <div class="band-name">
          <p><%= @latest_card.rank3 %></p>
        </div>
      </div>
    </div>
  </div>
  <%# ボトム部分 %>
</div>